<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/d203edcaa8.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/d203edcaa8.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <style>
    .hover-red:hover {
      color: red;
    }
    .hover-green:hover {
      color: green;
    }
    .navbar .form-control {
          border-radius: 50px; /* rounded edges */
          padding: 0.5rem 1rem;
      }

      .navbar .btn {
          border-radius: 50px; /* rounded button to match input */
          padding: 0.5rem 1rem;
      }
    
  </style>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" >

          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{url_for('index')}}"
                >Home</a
              >
            </li>
          </ul>
          {% if current_user.is_authenticated %}


          <ul class="navbar-nav ms-auto">
            
            <form class="d-flex" role="search" method="GET" action="{{ url_for('search') }}">
                <input name="query" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value="{{ request.args.get('query', '') }}" />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

              <li class="nav-item">
                <a class="nav-link" href="{{url_for('profile')}}"
                  >{{current_user.name}}</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
              </li>
           

            {% else %}
           

              <li class="nav-item">
                <a class="nav-link" href="{{url_for('login')}}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('signup')}}">Signup</a>
              </li>
            </ul>

            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% for category, msg in get_flashed_messages(with_categories=true) %}

    <div
      class="alert alert-{{category}} alert-dismissible fade show m-5"
      role="alert"
    >
      <strong>{{ msg }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>

    {% endfor %} 
    
    
    {% block content %} {% endblock %}
  </body>
</html>
