{% extends 'navbar.html' %} {% block content %}

<div class="m-5">
  <h1>Create Company</h1>
  <form method="POST">
    {{form.hidden_tag()}}
    <div class="mb-3">
      <label for="name" class="form-label">{{form.name.label}}</label>
      {{ form.name(class="form-control") }}
    </div>
    <div class="mb-3">
      <label for="about" class="form-label">{{form.about.label}}</label>
      {{ form.about(class="form-control") }}
    </div>

    {{form.submit(class="btn btn-primary")}}
  </form>
</div>

{% endblock %}
