{% extends 'navbar.html' %} {% block content %}

<!-- list users -->
<div class="m-5">
  <p class="list-group-item active" aria-current="true">Employee List</p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">DEPARTMENT</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
      <tr>
        <th scope="row">{{employee.id}}</th>
        <td>
          <a href="{{url_for('getUser', id=employee.id)}}">{{employee.name}}</a>
        </td>
        <td>{{employee.department}}</td>
      </tr>
      {% else %}
      <p>There are not employees</p>
      <p>Start adding: <a href="{{url_for('add')}}">Here</a></p>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- form to delete and update user -->

<!-- option to get the profile of each user -->

{% endblock %}
