<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/d203edcaa8.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <style>
    .hover-red:hover {
      color: red;
    }
    .hover-green:hover {
      color: green;
    }
  </style>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{url_for('index')}}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('list_all')}}">List all</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('add')}}">Add Employee</a>
            </li>
          </ul>
          <form
            class="d-flex"
            role="search"
            method="GET"
            action="{{ url_for('list_all') }}"
          >
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search by name"
              name="q"
              aria-label="Search"
              value="{{ request.args.get('q', '') }}"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

    {% for msg in get_flashed_messages() %}

    <div
      class="alert alert-success alert-dismissible fade show m-5"
      role="alert"
    >
      <strong>{{ msg }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>

    {% endfor %} {% block content %} {% endblock %}
  </body>
</html>
