{% extends 'navbar.html' %} {% block content %}

<div class="m-5">
  <h1>{{current_user.name}}</h1>

  <div>
    <button class="btn btn-primary">
      <a class="nav-link" href="{{url_for('createCompany')}}">Add company</a>
    </button>

    <button class="btn btn-primary">
      <a class="nav-link" href="{{url_for('companies')}}">See Companies</a>
    </button>
    <button class="btn btn-primary">
      <a class="nav-link" href="{{url_for('add')}}">Create Employee</a>
    </button>
    <button class="btn btn-primary">
      <a class="nav-link" href="{{url_for('list_all_unassigned')}}">Unassigned Employees</a>
    </button>
  </div>
</div>

{% endblock %}
